.wrapper {
    background: black;
    padding: 1rem;
    color: white;
    font-size: 2rem;
    // inverted가 .wrapper와 함께 사용되었을 때만 적용
    &.inverted {
        color: black;
        background: palegreen;
        border: 1px solid black;
    }
}

:global .something {
    font-weight: 800;
    color: green;
}